:root {
  --white: 255, 255, 255;
  --font-dark: 82, 82, 82;
  --font-darker: 38, 38, 38;
  --pink: 231, 161, 164;
  --gray: 163, 163, 163;
  --status: 34, 197, 94;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  line-height: 1.75;

  color: rgb(var(--font-dark));
  background-color: rgb(var(--white));
  cursor: default;
}

#root {
  width: 90%;
  max-width: 550px;

  margin: 30px auto 120px;
  padding: 0 20px;
}

/* UPPER NAV */

#upper-nav {
  width: 90%;
  max-width: 550px;
  margin: auto;
  padding: 25px 20px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;

  background-color: rgba(var(--white), 0.35);
  text-transform: lowercase;
  font-size: 0.8em;
}

#name {
  font-weight: 500;
}

#upper-nav ul {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: flex-end;
  gap: 35px;

  list-style: none;
}

#upper-nav li a {
  color: inherit;
  text-decoration: none;
}

#upper-nav li a:hover {
  color: rgb(var(--pink));
  text-decoration: underline;
}

/* HERO SECTION */

#introduction {
  margin-top: 90px;
  display: flex;
  align-items: center;
}

#introduction h1 {
  margin: 0;
  color: rgb(var(--font-darker));
  font-family: 'Crimson Pro', serif;
  font-style: italic;
  font-weight: 400;
}

#hero p {
  font-size: 0.8rem;
}

/* Introduction CTA */

#introduction-cta {
  margin: 35px 0 40px;

  display: flex;
  align-items: center;
  gap: 25px;
}

.status {
  width: 125px;
  padding: 5px;

  font-size: 0.75rem;
  text-align: center;

  color: rgb(var(--status));
  background-color: rgba(var(--status), 0.15);
  border: 1px solid rgb(var(--status));
  border-radius: 25px;
}

#introduction-cta a {
  display: flex;
  align-items: center;
  gap: 5px;

  position: relative;

  font-size: 0.85em;
  text-decoration: none;
  color: inherit;
}

.arrow {
  transition: .4s ease;
}

#introduction-cta a:hover .arrow {
  transform: translateX(4px);
}

#introduction-cta a::after {
  position: absolute;
  content: "";
  bottom: -2px;

  height: 2px;
  width: 100%;
  
  background-color: rgb(var(--pink));
  transform: scaleX(0);
  transform-origin: left;
  transition: .4s ease;
}

#introduction-cta a:hover::after {
  transform: scaleX(1);
}

/* Heart Animation */

#introduction .heart {
  margin-left: 10px;
  font-size: 31px;
  cursor: pointer;
}

#introduction .heart:hover {
  animation: heartbeat 4s infinite;
}

@keyframes heartbeat {
  0%, 50%, 100% {
    transform: scale(1);
  }
  25%, 75%{
    transform: scale(1.25);
  }
}

/* SECTION HEADINGS */

.section-heading {
  display: flex;
  align-items: center;
}

.divider {
  width: 35px;
  height: 1px;
  margin-right: 15px;

  background-color: rgb(var(--pink));
}

.section-title {
  margin: 0;

  font-size: 0.85em;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: rgb(var(--gray));
}

/* SECTION STYLES */

.section {
  padding: 5px 0;
}

.card {
  padding: 20px 0;
}

.card a {
  text-decoration: none;
}

.card:not(:last-child) {
  border-bottom: 1px solid rgba(var(--gray), 0.25);
}

.card-title {
  display: inline;
  margin: 0;
  
  font-size: 0.8rem;
  font-weight: 500;

  color: rgb(var(--font-darker));
}

.ref-link:hover {
  color: rgb(var(--pink));
  text-decoration: underline;
  transition: .3s ease;
  cursor: pointer;
}

.link-icon {
  margin-left: 3px;
}

.card-description {
  margin: 0;
  padding-top: 5px;

  font-size: 0.75rem;
  text-align: justify;
}

.dot {
  margin: 0 10px;
  width: 3px;
  height: 3px;

  display: inline-block;

  background-color: rgb(var(--font-dark));
  border-radius: 50%;
  vertical-align: middle;
}

.date {
  color: rgb(var(--gray));
}

/* TECHNOLOGIES SECTION */

#technologies-list {
  padding: 20px 0;

  display: flex;
  flex-wrap: wrap;
  gap: 10px 50px;

  font-size: 0.8rem;
}

#technologies-list span {
  width: 25%;
}

/* PROJECTS SECTION */

.wip {
  margin-left: 5px;
  display: inline-block;

  font-weight: 400;
  font-size: 0.7rem;
  vertical-align: top;
  
  color: rgb(var(--gray));
}

/* BOTTOM NAV */

#bottom-nav {
  width: 260px;
  padding: 23px 0;
  margin: auto;

  position: fixed;
  bottom: 35px;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;

  background-color: rgb(var(--white));
  border: 1px solid rgba(var(--gray), 0.2);
  border-radius: 50px;
  box-shadow: 0 0 30px rgba(var(--gray), 0.5);
}

#bottom-nav a {
  display: flex;
  align-items: center;
}

.nav-icon {
  width: 23px;
  height: 23px;

  color: rgb(var(--font-dark));
  transition: .4s ease;
}

.nav-icon:hover {
  color: rgb(var(--pink));
}

.nav-div {
  width: 1px;
  height: 22px;

  background-color: rgba(var(--gray), 0.7);
  align-self: flex-start;
}

/* MEDIA QUERIES */

@media (max-width: 499px) {
  #technologies-list span {
    min-width: 35%;
  }
}