* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  line-height: 1.75;
  color: #525252;
  cursor: default;
}

#root {
  width: 550px;
  margin: 30px auto 110px;
}

/* HERO SECTION */

#introduction {
  margin-top: 90px;
  display: flex;
  align-items: center;
}

#introduction h1 {
  margin: 0;
  color: #262626;
  font-family: 'Crimson Pro', serif;
  font-style: italic;
  font-weight: 400;
}

#hero p {
  font-size: 0.8rem;
}

.status {
  width: 125px;
  margin: 30px 0;
  padding: 5px;
  font-size: 0.75rem;
  text-align: center;
  color: #22c55e;
  background-color: #22c55e26;
  border: 1px solid #22c55e;
  border-radius: 25px;
}

/* Heart Animation */

#introduction .heart {
  margin-left: 10px;
  font-size: 31px;
  cursor: pointer;
}

#introduction .heart:hover {
  animation: heartbeat 4s infinite;
}

@keyframes heartbeat {
  0%, 50%, 100% {
    transform: scale(1);
  }
  25%, 75%{
    transform: scale(1.25);
  }
}

/* SECTION HEADINGS */

.section-heading {
  display: flex;
  align-items: center;
}

.divider {
  width: 35px;
  height: 1px;
  margin-right: 15px;

  background-color: #e69fad;
}

.section-title {
  margin: 0;

  font-size: 0.85em;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #a3a3a3;
}

/* SECTION STYLES */

#education {
  padding: 5px 0;
}

.card {
  padding: 20px 0;
}

.card:not(:last-child) {
  border-bottom: 1px solid #e5e5e5;
}

.card-title {
  margin: 0;
  
  font-size: 0.8rem;
  font-weight: 500;

  color: #262626;
}

.card-description {
  margin: 0;
  padding-top: 5px;

  font-size: 0.75rem;
}

.dot {
  margin: 0 10px;
  width: 3px;
  height: 3px;

  display: inline-block;

  background-color:#525252;
  border-radius: 50%;
  vertical-align: middle;
}

.date {
  color: #a3a3a3;
}

/* TECHNOLOGIES SECTION */

#technologies-list {
  padding: 20px 0;

  display: flex;
  flex-wrap: wrap;
  gap: 10px 50px;

  font-size: 0.8rem;
}

#technologies-list span {
  width: 25%;
}

/* PROJECTS SECTION */

.wip {
  font-weight: 400;
  font-size: 0.7rem;
  vertical-align: top;
  
  color: #a3a3a3;
}